<div class="relative z-10">
    <h1 class="text-xl font-semibold mb-4 flex items-center gap-2">
        Tasks
    </h1>
</div>

<input type="text" placeholder="Write a new task"
    class="w-full p-3 bg-gray-200 rounded-xl mb-4 shadow-sm cursor-pointer" />

<div class="space-y-4">

    @for(task of tasks(); track task.id) {
    <div class="flex items-center bg-white rounded-xl p-3 shadow-sm">
        <div class="flex items-center gap-3">
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" class="hidden peer" />
                <span
                    class="w-5 h-5 inline-block rounded-sm border border-gray-300 bg-white peer-checked:bg-blue-400 peer-checked:border-blue-400 transition"></span>
            </label>
            <span>{{task.title}}</span>
        </div>
    </div>
    }

</div>