<div class="relative z-10">
    <h1 class="text-xl font-semibold mb-4 flex items-center gap-2">
        Tasks
    </h1>
</div>

<input type="text" placeholder="Write a new task"
    class="w-full p-3 bg-gray-200 rounded-xl mb-4 shadow-sm cursor-pointer" />

<div class="space-y-4">
    <div class="flex items-center bg-white rounded-xl p-3 shadow-sm">
        <div class="flex items-center gap-3">
            <input type="checkbox"
                class="cursor-pointer w-5 h-5 rounded-xl border-gray-300 focus:ring-2 focus:ring-red-400" />
            <span>Book a hotel room</span>
        </div>
    </div>
    <div class="flex items-center bg-white rounded-xl p-3 shadow-sm">
        <div class="flex items-center gap-3">
            <input type="checkbox"
                class="cursor-pointer w-5 h-5 rounded-xl border-gray-300 focus:ring-2 focus:ring-red-400" />
            <span>Book a hotel room</span>
        </div>
    </div>
</div>