.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px; // espaçamento entre campos (opcional)
}

mat-form-field {
    width: 100%;
}

::ng-deep .cdk-overlay-pane {
    z-index: 2000;
    background-color: white;
}